<article class="module-description am-hide-sm-down">
  <h2>邦 —— 在一起，只因共同的理想！</h2>
  <p>邦汇聚了志同道合的一群人，可以是整个公司，或是一个团队。由你创建的邦，就由你决定邦的规则。</p>
  <p class="am-text-primary">点击左侧邦图标，管理更多邦。</p>
</article>

<div class="am-g">
  <div class="col-md-12">
    <div class="am-g">
      <div class="col-md-6 col-sm-12">

        <h1 class="am-text-xxl am-margin-top">{{current_bang.name}}
        <button class="am-btn am-btn-primary am-btn-sm am-margin-top-sm am-fr">
          <i class="am-icon-gear"></i>
        </button>
        </h1>
        <blockquote ng-if="current_bang.description">
          <p>{{current_bang.description}}</p>
        </blockquote>

        <hr class="am-article-divider">
        <ul class="sm-block-grid-2">
          <li><h1 class="am-text-secondary">成员数量: 2</h1></li>
          <li><h1 class="am-text-secondary">问卷数量: 5</h1></li>
        </ul>

      </div>

      <div class="col-md-6 col-sm-12">

        <h2 class="am-margin-top">邦通知 <span class="am-text-sm am-text-secondary">(demo数据)</span></h2>
        <ul>
          <li>中秋放假通知</li>
          <li>近期公司将开展员工满意度调查</li>
          <li>9月零食已满仓</li>
          <li>wifi连接信息变更</li>
          <li>新员工卡照片提交</li>
        </ul>

      </div>
    </div>
    <div class="am-g">
      <div class="col-md-6 col-sm-12">
        <h2>公开问卷 <span class="am-text-sm am-text-secondary">(demo数据)</span></h2>
        <table class="am-table am-table-bd am-table-bdrs am-table-striped">
          <tr>
            <th>问卷名称</th>
            <th>截止时间</th>
            <th>参与人数</th>
          </tr>
          <tr>
            <td>中秋月饼寄送地址统计</td>
            <td>2014-09-10</td>
            <td>100</td>
          </tr>
          <tr>
            <td>员工身份证统计</td>
            <td>2012-10-01</td>
            <td>200</td>
          </tr>
          <tr>
            <td>团建活动建议征集</td>
            <td>2014-09-20</td>
            <td>150</td>
          </tr>
          <tr>
            <td>10月办公用品采购申请</td>
            <td>已截止</td>
            <td>99</td>
          </tr>
          <tr>
            <td>公司咖啡吧9月打分</td>
            <td>已截止</td>
            <td>160</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 col-sm-12">
        <h2>最新加入 <span class="am-text-sm am-text-secondary">(demo数据)</span></h2>
        <table class="am-table am-table-bd am-table-bdrs am-table-striped">
          <tr>
            <th>成员名字</th>
            <th>加入时间</th>
          </tr>
          <tr>
            <td>张三</td>
            <td>2014-09-01</td>
          </tr>
          <tr>
            <td>李四</td>
            <td>2012-10-01</td>
          </tr>
          <tr>
            <td>王五</td>
            <td>2014-09-01</td>
          </tr>
          <tr>
            <td>赵六</td>
            <td>2014-09-01</td>
          </tr>
          <tr>
            <td>孙七</td>
            <td>2012-10-01</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
