<article class="module-description am-hide-sm-down">
  <h2>问卷</h2>
  <p>可灵活定制问卷选项，支持文本、日期、单选项、多选项等多种方式。</p>
  <p>轻松统计问卷结果，以饼图、柱状图等多种形式输出报表。到期邮件提醒，轻松协调邀请者回答问题。</p>
</article>

<div class="module-nav am-hide-sm-only">
  <ul class="am-nav am-nav-tabs am-nav-justify">
    <li ui-sref-active="am-active"><a ui-sref="survey.created-by-me">我发起的</a></li>
    <li ui-sref-active="am-active"><a ui-sref="survey.invite-me">邀请我的</a></li>
    <li ui-sref-active="am-active"><a ui-sref="survey.create">创建问卷</a></li>
  </ul>
</div>

<div class="am-btn-group am-btn-group-justify am-show-sm-only module-nav-sm">
  <a class="am-btn am-btn-default" ui-sref="survey.created-by-me">我发起的</a>
  <a class="am-btn am-btn-default" ui-sref="survey.invite-me">邀请我的</a>
  <a class="am-btn am-btn-default" ui-sref="survey.create">创建问卷</a>
</div>

<section ui-view>

</section>
