@import "logo";
/* index */

.head-fixed {
  padding-top: 50px;
}
.head {
  margin-bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

/* header */

.index-header-logo {
  @include bangx2-logo(40px, #1E5B94, #fff);
  float: left;
  padding: 5px 10px;
}

.index-header-title {
  font-size: 35px;
  color: #1E5B94;
}
.index-header-info {
  position: relative;
  height: 50px;
  margin: 0;
  padding: 0;
}

.index-header-info-version {
  position: absolute;
  top: 4px;
  font-size: 14px;
}

.index-header-info-url {
  position: absolute;
  bottom: 4px;
  color: #1E5B94;
}


.banner-logo {
  @include bangx2-logo(300px, #fff, #1E5B94);
  margin:0 auto;
  width: 300px;
}

.get {
  background: #1E5B94;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.get-title {
  font-size: 200%;
  padding: 20px;
  display: inline-block;
}
.get-btn {
  background: #fff;
}
.detail {
  background: #fff;
  padding-top: 50px;
}

.detail-h2 {
  text-align: center;
  font-size: 150%;
  margin: 40px 0;
}

.detail-h3 {
  color: #1f8dd6;
}

.detail-p {
  color: #7f8c8d;
}

.detail-mb {
  margin-bottom: 30px;
}

.hope {
  background: #0bb59b;
  padding: 50px 0;
  text-align: center;
}

.hope-img {
  text-align: center;
}

.hope-hr {
  border-color: #149C88;
}

.hope-title {
  font-size: 140%;
}

.about {
  background: #fff;
  padding: 40px 0;
  color: #7f8c8d;
}

.about-color {
  color: #34495e;
}

.about-title {
  font-size: 180%;
  padding: 30px 0 50px 0;
  text-align: center;
}

.footer p {
  color: #7f8c8d;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  background: #2d3e50;
}
