@import "index";

/* variable */
$golden-ratio: 0.618;
$logo-size: 120px;
$logo-width: $logo-size;
$logo-height: $logo-size*$golden-ratio;

$navigation-width: 140px;
$bang-panel-width: 140px;


/* container */
html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

/* header */
.am-topbar-brand {
}

/* navigation */
#navigation {
  width: $navigation-width;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  border-right: 4px solid #eee;
  background: #fff;

  .bang-logo {
    width: $logo-width;
    height: $logo-height;
    margin: 30px auto;
    border: 2px solid #0b76ac;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    span.bang-logo-title {
      font-size: 24px;
      color: #333;
      position: absolute;
      top: 20px;
    }
    img {
    }
    i {
      text-align: center;
    }
  }

  .am-nav > li {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  .product-by {
    position: absolute;
    bottom: 60px;
    font-size: 16px;
    color: #0b76ac;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #0b76ac;
    padding-top: 15px;
    padding-bottom: 10px;
    p {
      margin: 0;
      line-height: 18px;
    }
    p.product-by-email > a {
      font-size: 12px;
      line-height: 18px;
    }
  }

}

/* bang panel */
#bang-panel.am-offcanvas {
  top: 51px;
}
#bang-panel .am-offcanvas-bar {
  top: 51px;
  width: $bang-panel-width;
  background: #0b76ac;
}
#bang-panel .am-offcanvas-bar .am-offcanvas-content{
  padding: 0;
}
#bang-panel .am-offcanvas-bar:after {
  box-shadow: 0 0 0 0;
  background: #fff;
  background: #0b76ac;
}

.bang-panel-logo {
    width: $logo-width;
    height: $logo-height;
    margin: 30px auto;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #fff;
    position: relative;
    cursor: pointer;
    span.bang-logo-title {
      font-size: 24px;
      color: #333;
      position: absolute;
      top: 20px;
    }
    img {
    }
}

.bang-new-btn {
    width: $logo-width;
    height: $logo-height/2;
    margin: 30px auto;
}


/* main-content */
#content {
  overflow-y: auto;
  height: 100%;
  color: #2a2d2e;
  position: relative;
  margin-left: $navigation-width;
}


/* module-page */
.module-description {
  padding: 10px;
  background-color: #eee;
}

.module-nav {
  background-color: #eee;
  .am-nav > li {
    border-top: 3px solid transparent;
    background-color: #eee;
  }
  .am-nav > li:hover > a {
    border-top: 3px solid #1f90c8;
  }
  .am-nav > li.am-active > a, .am-nav > li.am-active:hover > a {
    border-top: 3px solid #1f90c8;
  }
}
