@import "logo";
@import "index";

/* variable */
$golden-ratio: 0.618;
$logo-size: 120px;
$logo-width: $logo-size;
$logo-height: $logo-size*$golden-ratio;

$navigation-width: 140px;
$bang-panel-width: 140px;


/* container */
html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

/* header */

.header-logo {
  @include bangx2-logo(40px, #fff, #0e90d2);
  float: left;
  padding: 5px 10px;
}

.header-title {
  font-size: 35px;
  color: #fff;
}
.header-info {
  position: relative;
  height: 50px;
  margin: 0;
  padding: 0;
}

.header-info-version {
  position: absolute;
  top: 4px;
  font-size: 14px;
}
.header-info-url {
  position: absolute;
  bottom: 4px;
  color: #fff;
}
.bang-btn-sm{
  position: relative;
  float: left;
  margin: 1px 60px 0 10px;
}
/* navigation */

@mixin bang-logo {
  width: $logo-width;
  height: $logo-height;
  margin: 30px auto 60px;
  border: 2px solid #0b76ac;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  background-image: url('http://amazeui.org/i/landing/mascot.png');
  background-size: $logo-width $logo-height;
  background-color: #fff;
  .bang-logo-desc {
    font-size: 14px;
    color: #0b76ac;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid #0b76ac;
    border-radius: 2px;
  }
  .bang-logo-title {
    font-size: 24px;
    color: #333;
    position: absolute;
    bottom: -35px;
    text-align: center;
    width: 100%;
  }
}

#navigation {
  width: $navigation-width;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  border-right: 4px solid #eee;
  background: #fff;

  .navigation-bang-logo {
    @include bang-logo();
  }

  .am-nav > li {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  .product-by {
    position: absolute;
    bottom: 60px;
    font-size: 16px;
    color: #0b76ac;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #0b76ac;
    padding-top: 15px;
    padding-bottom: 10px;
    p {
      margin: 0;
      line-height: 18px;
    }
    p.product-by-email > a {
      font-size: 12px;
      line-height: 18px;
    }
  }

}

/* bang panel */
#bang-panel.am-offcanvas {
  top: 51px;
}
#bang-panel .am-offcanvas-bar {
  top: 51px;
  width: $bang-panel-width;
  background: #0b76ac;
}
#bang-panel .am-offcanvas-bar .am-offcanvas-content{
  padding: 0;
}
#bang-panel .am-offcanvas-bar:after {
  box-shadow: 0 0 0 0;
  background: #fff;
  background: #0b76ac;
}

.panel-bang-logo {
    @include bang-logo();
}

.bang-new-btn {
    width: $logo-width;
    height: $logo-height/2;
    margin: 30px auto 60px;
}


/* main-content */
#content {
  overflow-y: auto;
  height: 100%;
  color: #2a2d2e;
  position: relative;
  margin-left: $navigation-width;
}

/* main-content */
#content_sm {
  overflow-y: auto;
  height: 100%;
  color: #2a2d2e;
  position: relative;
  padding-bottom: 60px;
}

#menu_sm > div.am-navbar {
  z-index: 1032;
}

/* bang-home */
.bang-home-title {
  margin-top: 30px;
}

/* module-page */
.module-description {
  padding: 10px;
  background-color: #eee;
}

.module-nav {
  margin-bottom: 30px;
  background-color: #eee;
  .am-nav > li {
    border-top: 3px solid transparent;
    background-color: #eee;
  }
  .am-nav > li:hover > a {
    border-top: 3px solid #1f90c8;
  }
  .am-nav > li.am-active > a, .am-nav > li.am-active:hover > a {
    border-top: 3px solid #1f90c8;
  }
}

.module-nav-sm {
  margin-bottom: 20px;
}
