<div class="am-topbar am-topbar-inverse head">
  <h1 class="am-topbar-brand">
    <a href="#/">BangBang</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="collapse-head">
    <div class="am-topbar-right">
      <button ui-sref="login" class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-sign-out"></span>注销</button>
    </div>
  </div>
</div>
