<style>
body {
  overflow: auto;
}
</style>

<header class="am-topbar head">
  <div class="am-topbar-brand">
    <a href="/">
    <div class="index-header-logo">
      <div class="logo-bg">
        <div class="big-triangle-up">
          <div class="small-triangle-up"></div>
        </div>
        <div class="big-triangle-down">
          <div class="small-triangle-down"></div>
        </div>
      </div>
    </div> <span class="index-header-title">邦邦</span></a>
  </div>
  <div class="am-fl index-header-info">
    <span class="index-header-info-version">beta</span>
    <span class="index-header-info-url">www.bang<span class="am-text-warning">x2</span>.com</span>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
    data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
      class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse am-topbar-right" id="collapse-head">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="" ng-click="scrollTo('login')">登陆</a></li>
      <li><a href="" ng-click="scrollTo('discovery')">发现</a></li>
      <li><a href="" ng-click="scrollTo('seed-user')">内测</a></li>
    </ul>

    <!--
    <div class="am-topbar-right">
      <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" ui-sref="login"><span class="am-icon-user"></span> 登录</button>
    </div>
    -->
  </div>
</header>

<div class="get" id="login">
  <div class="am-g am-container">
    <div class="col-lg-12">
      <h1 class="get-title am-animation-slide-left">
        工作亦是生活，何不去发现它的美
      </h1>
    </div>

    <div class="col-md-12 col-lg-10 col-sm-centered">
      <div class="am-g">

        <div class="col-md-6 am-hide-sm-only am-animation-scale-up">
          <p>
          猜猜看，Logo中有多少个0.618 ?
          </p>
          <div class="banner-logo">
            <div class="logo-bg">
              <div class="big-triangle-up">
                <div class="small-triangle-up"></div>
              </div>
              <div class="big-triangle-down">
                <div class="small-triangle-down"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 am-animation-slide-right">
          <br>
          <h3>登陆邦邦</h3>
          <hr>
          <form ng-submit="login()" class="am-form">
            <input ng-model="user.username" type="email" name="username" id="username" required placeholder="邮箱"/>
            <br>
            <input ng-model="user.password" type="password" name="password" id="password" required placeholder="密码">
            <br>
            <div class="am-cf">
              <input type="submit" name="" value="登陆" class="am-btn am-btn-primary am-btn-block am-btn-sm am-fl">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="detail" id="discovery">
  <div class="am-g am-container">
    <div class="col-lg-12">
      <h2 class="detail-h2"></h2>

      <div class="am-g">
        <div class="col-lg-3 col-md-6 col-sm-12 detail-mb">
          <h3 class="detail-h3">
            完美支持所有屏幕尺寸
          </h3>

          <p class="detail-p">
            无论手机、PAD、电脑，让您触手可及的一切联网设备，都能轻松使用我们的服务。基于 Amaze UI 构建，更轻量、更高效，更完美。
          </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 detail-mb">

          <h3 class="detail-h3">
            高效工作，比“deli”更得力
          </h3>

          <p class="detail-p">
            统计员工信息、组织活动、统一订餐、差旅预订报销...还在用传统低效的方式解决这些问题？交给邦邦好了，请相信，我们也能——“说的很少，做的很好”！
          </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 detail-mb">
          <h3 class="detail-h3">
            按需付费的服务
          </h3>
          
          <p class="detail-p">
            免费配额，足够50人企业日常使用。配额可灵活调整，适应企业不同阶段的发展。超过配额部分，也会按实际使用量计费，并提供详细流水和发票管理。
          </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 detail-mb">
          <h3 class="detail-h3">
            懂生活，让工作更有趣
          </h3>

          <p class="detail-p">
            邦邦服务企业，是为了帮您从重复乏味的工作内容中解脱处理，让您的创造力得以发挥，让您有更多非工作的生活时间。邦邦希望只存在于您生活的一小部分时间。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hope">
  <div class="am-g am-container">
    <div class="col-sm-10  col-sm-centered">
      <h2 class="hope-title">给自己找一位高效的小帮手&nbsp;&nbsp;&nbsp;给老板多一个信任您的理由</h2>
      <h3>
        统计中秋月饼寄送地址
      </h3>
      <p>
      汇总几百份邮件？
      </p>
      <p>
      粘贴几百个Excel？
      </p>
      <p>
      到截止时间了还有几十人未回复......
      </p>
      <h3>
        行政和人力也得过中秋啊!!! 试试 邦邦-问卷 吧!
      </h3>
    </div>
  </div>
</div>

<div class="about" id="seed-user">
  <div class="am-g am-container">
    <div class="col-lg-12">
      <h2 class="about-title about-color" id="tools">参与内测，赢10斤零食 :P</h2>

      <div class="am-g">
        <div class="col-md-6 col-sm-12">
          <form class="am-form">
            <label for="email" class="about-color">您的邮箱</label>
            <input id="email" type="email" placeholder="请填写有效的邮箱，用来接收内测邀请邮件">
            <br/>
            <label for="name" class="about-color">您的姓名</label>
            <input id="name" type="text" placeholder="请填写您的真实名字">
            <br/>
            <label for="company" class="about-color">公司及工作描述</label>
            <textarea id="company" rows="4" placeholder="请填写您的公司名称，并尽可能详细描述您的工作内容，以便我们准确审核您的内测资格"></textarea>
            <br/>
            <button type="submit" class="am-btn am-btn-primary am-btn-sm" disabled="disabled">暂无更多申请名额，请持续关注，谢谢</button>
          </form>
          <hr class="am-article-divider am-show-sm-only">
        </div>

        <div class="col-md-6 col-sm-12">
          <h4 class="about-color">关于邦邦</h4>

          <p>大部分网络产品都在绞尽脑汁去发现具有用户粘性的功能，希望用户尽可能把时间花费在自己的产品上。</p>
          <p>然而无论再精彩的网络生活，值得我们用真实生活的时间去换取吗？</p>
          <p>网络应该是服务于生活，而不是成为我们的生活。</p>

          <h4 class="about-color">关于内测资格</h4>

          <p>无论如何，都感谢您提交的内测申请！</p>
          <p>考虑到邦邦存在的意义，我们会重点关注以下两类申请者：</p>
          <p>1. 软件开发、产品从业者或爱好者，我们渴望倾听您对于邦邦在技术、体验、产品形态上的任何意见。</p>
          <p>2. 行政及人力工作从业者，我们希望能与您深入交流，倾听您对于日常工作的真实感受，让我们帮您把工作变得更高效。</p>

        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <p>© 2014 BangBang Technology Co., Ltd.</p>
</footer>
