<div class="am-g" ng-controller="LoginCtrl">
  <div class="col-lg-6 col-md-8 col-sm-centered">
    <br>
    <h3>bang<span class="am-text-warning">x2</span>.com</h3>
    <hr>
    <form ng-submit="login()" class="am-form">
      <label for="username">邮箱:</label>
      <input ng-model="user.username" type="email" name="username" id="username" required/>
      <br>
      <label for="password">密码:</label>
      <input ng-model="user.password" type="password" name="password" id="password" required>
      <br>
      <label for="remember-me">
        <input id="remember-me" type="checkbox">
        保持登陆
      </label>
      <br />
      <div class="am-cf">
        <input type="submit" name="" value="登录" class="am-btn am-btn-primary am-btn-sm am-fl">
        <input type="submit" name="" value="忘记密码" class="am-btn am-btn-default am-btn-sm am-fr">
      </div>
    </form>
    <hr>
    <p>© 2014 BangBang Technology Co., Ltd.</p>
  </div>
</div>
