<div class="am-g">
  <div class="col-lg-6 col-md-8 col-sm-centered">
    <br>
    <h3>bangx2.com</h3>
    <hr>
    <form ng-submit="login()" class="am-form">
      <label for="email">邮箱:</label>
      <input type="email" name="" id="email" value="" required/>
      <br>
      <label for="password">密码:</label>
      <input type="password" name="" id="password" value="">
      <br>
      <label for="remember-me">
        <input id="remember-me" type="checkbox">
        记住密码
      </label>
      <br />
      <div class="am-cf">
        <input type="submit" name="" value="登录" class="am-btn am-btn-primary am-btn-sm am-fl">
        <input type="submit" name="" value="忘记密码" class="am-btn am-btn-default am-btn-sm am-fr">
      </div>
    </form>
    <hr>
    <p>© 2014 BangBang Technology Co., Ltd.</p>
  </div>
</div>
