<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default am-show-sm-down" id="">
  <ul class="am-navbar-nav am-cf sm-block-grid-4">
    <li data-am-navbar-qrcode>
      <a ui-sref="member">
        <span class="am-icon-users"></span>
        <span class="am-navbar-label">成员</span>
      </a>
    </li>
    <li data-am-navbar-share>
      <a ui-sref="bang">
        <span class="am-icon-home"></span>
        <span class="am-navbar-label">主页</span>
      </a>
    </li>
    <li data-am-navbar-qrcode>
      <a ui-sref="survey">
        <span class="am-icon-pencil-square-o"></span>
        <span class="am-navbar-label">问卷</span>
      </a>
    </li>
  </ul>
</div>
