<!-- 邦logo-->
<div class="navigation-bang-logo am-animation-shake" data-am-offcanvas="{target: '#bang-panel', effect: 'push'}">
  <span class="bang-logo-desc">默认图标</span>
  <div class="am-text-truncate bang-logo-title">{{current_bang.name}}</div>
</div>

<!-- 邦菜单 -->
<ul class="am-nav">
  <li ui-sref-active="am-active"><a ui-sref="bang"><i class="am-icon-home"></i> 主页</a></li>
  <li ui-sref-active="am-active"><a ui-sref="member"><i class="am-icon-group"></i> 成员</a></li>
  <li ui-sref-active="am-active"><a ui-sref="survey"><i class="am-icon-pencil-square-o"></i> 问卷</a></li>
  <!--
  <li ui-sref-active="am-active"><a ui-sref="activity"><i class="am-icon-calendar"></i> 活动</a></li>
  -->
</ul>

<div class="product-by">
  <p>Product by</p>
  <p class="product-by-email">
    <a href="mailto:deggs.k@gmail.com?Subject=About%20bangx2.com" target="_top">deggs.k@gmail.com</a>
  </p>
</div>
